
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Карточка № {{card.id}}</h5>
      <p class="card-text">{{card.question}}</p>
      <p class="card-text">{{card.answer}}</p>
      <p class="card-text">{{card.category}}</p>
      <p class="card-text">
          {% for tag in card.tags.all %}
            <span class="card-link"><a href="{% url 'cards_by_tag' tag_id=tag.pk %}">{{ tag.name }}</a></span>
          {% endfor %}
      </p>
      <p class="card-text">{{card.id_author}}</p>
      <p class="card-text">{{card.id_card}}</p>
      <p class="card-text">{{card.upload_date}}</p>
      <p class="card-text"><small class="text-muted">Автор: {{ card.author.username|default:"неизвестен" }}</small></p>
      <p class="card-text">Просмотры: {{card.views}}</p>
      <p class="card-text">Избранное: {{card.adds}}</p>
    <a href="{% url 'detail_card_by_id' pk=card.pk %}" class="btn btn-primary">Подробнее</a>
  </div>
</div>
